<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Taco cloud</title>
    <link rel="stylesheet" th:href="@{/styles.css}"/>
</head>

<body>
<h1>
    Do no harm but take no shit...
</h1>
<form method="POST" th:action="@{/logout}">
    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
    <input type="submit" value="Logout"/>
</form>
<img th:src="@{/images/TacoCloud.jpg}" width="300" height="400">

<form method="POST" th:object="${taco}">
    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
    <div class="grid">
        <div class="ingredient-group" id="wraps">
            <h3>Designate your wrap</h3>
            <div th:each="ingredient : ${wrap}">
                <input th:field="*{ingredients}" type="checkbox" th:value="${ingredient.id}"/>
                <span th:text="${ingredient.name}">INGREDIENT</span><br/>
                <p th:if="${#fields.hasErrors('ingredients')}" th:errorclass="validationError" th:errors="*{ingredients}" />
            </div>
        </div>

        <div class="ingredient-group" id="proteins">
            <h3>Pick your protein</h3>
            <div th:each="ingredient : ${protein}">
                <input th:field="*{ingredients}" type="checkbox" th:value="${ingredient.id}"/>
                <span th:text="${ingredient.name}">INGREDIENT</span><br/>
                <p th:if="${#fields.hasErrors('ingredients')}" th:errorclass="validationError" th:errors="*{ingredients}" />

            </div>
        </div>

        <div class="ingredient-group" id="veggies">
            <h3>Pick your veggies</h3>
            <div th:each="ingredient : ${veggies}">
                <input th:field="*{ingredients}" type="checkbox" th:value="${ingredient.id}"/>
                <span th:text="${ingredient.name}">INGREDIENT</span><br/>
                <p th:if="${#fields.hasErrors('ingredients')}" th:errorclass="validationError" th:errors="*{ingredients}" />

            </div>
        </div>

        <div class="ingredient-group" id="cheeses">
            <h3>Pick your cheese</h3>
            <div th:each="ingredient : ${cheese}">
                <input th:field="*{ingredients}" type="checkbox" th:value="${ingredient.id}"/>
                <span th:text="${ingredient.name}">INGREDIENT</span><br/>
                <p th:if="${#fields.hasErrors('ingredients')}" th:errorclass="validationError" th:errors="*{ingredients}" />

            </div>
        </div>

        <div class="ingredient-group" id="sauces">
            <h3>Pick your sauce</h3>
            <div th:each="ingredient : ${sauce}">
                <input th:field="*{ingredients}" type="checkbox" th:value="${ingredient.id}"/>
                <span th:text="${ingredient.name}">INGREDIENT</span><br/>
                <p th:if="${#fields.hasErrors('ingredients')}" th:errorclass="validationError" th:errors="*{ingredients}" />

            </div>
        </div>

        <div>
            <h3>Name your taco</h3>
            <input type="text" th:field="*{name}"/><br/>
            <p th:if="${#fields.hasErrors('name')}" th:errorclass="validationError" th:errors="*{name}" />

            <button>Submit your taco</button>
        </div>
    </div>
</form>
</body>


</html>