<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Taco cloud</title>
        <link rel="stylesheet" th:href="@{/styles.css}"/>
    </head>

    <body>
        <h1>
            Do no harm, but take no shit...
        </h1>
        <img th:src="@{/images/TacoCloud.jpg}"  width="300" height="400">
    </body>


</html>