<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">
    <head>
        <title>Taco Cloud</title>
    </head>
    <body>
        <h1>Login</h1>
        <img th:src="@{/images/TacoCloud.jpg}"  width="300" height="400">
        <div th:if="${error}">
            Unable to login. Check your username and password.
        </div>
        <p>New here? Click
            <a th:href="@{/register}">here</a> to register.
        </p>
        <div>
            <h4><a th:href="@{/oauth2/authorization/google}">Login with Google</a></h4>
            <div th:if="${param.error}">
                <p class="text-danger">DANGER</p>
            </div>
        </div>
        <div><p>OR</p></div>
        <form method="POST" th:action="@{/login}" id="loginForm">
            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
            <div class="border border-secondary rounded p-3">

                <div th:if="${param.error}">
                    <p class="text-danger">Invalid username or password.</p>
                </div>
                <div th:if="${param.logout}">
                    <p class="text-warning">You have been logged out.</p>
                </div>
                <label for="username">Username: </label>
                <input type="text" name="username" id="username" /><br/>
                <label for="password">Password: </label>
                <input type="password" name="password" id="password" /><br/>
                <input type="submit" value="Login"/>
            </div>
        </form>
    </body>
</html>