<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Taco cloud</title>
    <link rel="stylesheet" th:href="@{/styles.css}"/>
</head>

<body>
    <form method="POST" th:action="@{/logout}">
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
        <input type="submit" value="Logout"/>
    </form>
    <form method="post" th:action="@{/orders}" th:object="${tacoOrder}">
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
        <h1>Order your taco creation</h1>

        <h3>Your tacos in this order:</h3>
        <a th:href="@{/design}" id="another">Design another taco</a><br/>
        <ul>
            <li th:each="taco : ${tacoOrder.tacos}">
                <span th:text="${taco.name}">taco name</span></li>
        </ul>

        <h3>Deliver to:</h3>
        <label for='deliveryName'>Name: </label>
        <input type="text" th:field="*{deliveryName}"/>
        <p th:if="${#fields.hasErrors('deliveryName')}" th:errorclass="validationError" th:errors="*{deliveryName}" />
        <br/>

        <label for="deliveryStreet">Street: </label>
        <input type="text" th:field="*{deliveryStreet}"/>
        <p th:if="${#fields.hasErrors('deliveryStreet')}" th:errorclass="validationError" th:errors="*{deliveryStreet}" />

        <br/>

        <label for="deliveryCity">City: </label>
        <input type="text" th:field="*{deliveryCity}"/>
        <p th:if="${#fields.hasErrors('deliveryCity')}" th:errorclass="validationError" th:errors="*{deliveryCity}" />
        <br/>

        <label for="deliveryState">State: </label>
        <input type="text" th:field="*{deliveryState}"/>
        <p th:if="${#fields.hasErrors('deliveryState')}" th:errorclass="validationError" th:errors="*{deliveryState}" />

        <br/>

        <label for="deliveryzip">Zip: </label>
        <input type="text" th:field="*{deliveryZip}"/>
        <p th:if="${#fields.hasErrors('deliveryZip')}" th:errorclass="validationError" th:errors="*{deliveryZip}" />

        <br/>

        <h3>Here is how I'll pay:</h3>
        <label for="ccNumber">Credit Card #: </label>
        <input type="text" th:field="*{ccNumber}"/>
        <p th:if="${#fields.hasErrors('ccNumber')}" th:errorclass="validationError" th:errors="*{ccNumber}" />

        <br/>

        <label for="ccExpiration">Expiration Date: </label>
        <input type="text" th:field="*{ccExpiration}"/>
        <p th:if="${#fields.hasErrors('ccExpiration')}" th:errorclass="validationError" th:errors="*{ccExpiration}" />

        <br/>

        <label for="ccCVV">CVV: </label>
        <input type="text" th:field="*{ccCVV}"/>
        <p th:if="${#fields.hasErrors('ccCVV')}" th:errorclass="validationError" th:errors="*{ccCVV}" />

        <br/>

        <input type="submit" value="Sumbit Order"/>

    </form>

</body>


</html>